.flutuante {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flutuar 2s infinite alternate;
}

@keyframes flutuar {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, calc(-50% - 5px));
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.flutuante img {
  transition: transform 0.2s ease-in-out;
}

.flutuante:hover img {
  transform: translate3d(0, -10px, 0);
}
