.flutuante {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flutuante img {
  transition: transform 0.2s ease-in-out;
}

.flutuante:hover img {
  transform: translate3d(0, -10px, 0);
}
